:root {
    --header-dashboard-height: 70px;
    --header-dashboard-brand: 225px;
    --dashboard-primary-color: #4e73df;
    --dashboard-text-color: #a1a3ae;
    --dashboard-icon-color: #d1d3e2;
    --menu-border-color: #6485e3;
}

* {
    box-sizing: border-box;
}

.dashboard-primary-text {
    color: var(--dashboard-primary-color);
}

.dashboard-primary-icon {
    color: var(--dashboard-icon-color);
}

.dashboard-primary-border {
    border: 1px solid var(--dashboard-icon-color);
}

/* header dashboard */
.header-dashboard {
    height: var(--header-dashboard-height);
    background-color: var(--dashboard-primary-color);
}

.header-dashboard a {
    text-decoration: none;
    color: var(--dashboard-icon-color);
}

.header-dashboard__brand {
    width: var(--header-dashboard-brand);
    height: var(--header-dashboard-height);
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.header-dashboard__brand-icon {
    font-size: 38px;
    margin-right: 16px;
}

.rotate-n-15 {
    transform:rotate(-15deg);
}

.header-dashboard__right {
    width: calc(100% - var(--header-dashboard-brand));
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15)!important;
}

.header-search {
    width: 400px;
}

.header-search-append {
    background-color: var(--dashboard-primary-color);
}

.dropdown.no-arrow .dropdown-toggle::after{
    display: none;
}

.top-bar__dropdown {
    width: 320px;
    position: absolute;
    left: -280px;
}

.dropdown-header-style {
    background-color: var(--dashboard-primary-color);
    font-size: 12px;
    font-weight: 700;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.top-bar__dropdown-item {
    max-width: 300px;
    min-height: 80px;
    overflow: hidden;

}

.dropdown-item-detail {
    max-width: 210px;
}

.badge-counter {
    position: absolute;
    transform: scale(0.8);
    transform-origin: top right;
    right: -4px;
}

.top-bar > nav::after {
    content: "";
    border-right: 1px solid var(--dashboard-icon-color);
    height: 40px;
    margin-left: 32px;
}

.dropdown-item-avatar,
.header-avatar {
    width: 2rem;
    height: 2rem;
}

.dropdown-item-avatar > img,
.header-avatar > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* left menu */
.left-menu {
    width: var(--header-dashboard-brand);
    height: 100%;
    background-color: var(--dashboard-primary-color);
}

.menu-management > li {
    height: 60px;
    width: 193px;
    font-size: 0.85rem;
}

.dashboard-nav-item {
    border-top: 1px solid var(--menu-border-color);
    border-bottom: 1px solid var(--menu-border-color);
}

.menu-management-link {
    width: 18px;
}
/* main content */
.main-content {
    width: calc(100% - var(--header-dashboard-brand));
}
.text-gray-800 {
    color: #5a5c69;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2)!important
}

.border-left-primary {
    border-left: 0.25rem solid #4e73df!important;
}

.text-xs {
    font-size:.7rem;
}

.text-lg {
    font-size:1.2rem;
}